body{
    background-image:url(spa-sts.jpg);
background-repeat: no-repeat;
background-size: cover;
scrollbar-width: thin;}
.hef{
    display:flex;
    flex-direction:row; 
    margin-top:20px;
    margin-left:320px;
margin-right:260px;
column-gap:20px;
border-radius: 7px;
}
.hefi{
width:170px;
height:45px;
border:1.5px solid rgb(155,122,184);
text-align: center;
text-indent: inherit;
margin-top:25px;
margin-right: 7px;
background-color: transparent; 
border-radius:10px;

}
.modal{
    background-image: url(purple.jpg);
    background-size: cover;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.modalc{
    BACKGROUND-IMAGE:url(aesthetic.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin:15% auto;
    padding:30px;
    border:1px solid #888;
    width:30%;
}
.modalc label{font-size:15px;
}
#su{background-image:url(aesthetic.avif);
color:black;
font-family:roboto;
margin-top:20px;
}
      .close {
            color:black;
          float:right;
            font-size: 28px;
            font-weight: bold;
          
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
#h{
  font-family:fantasy;  
}
.lin{
    text-decoration: none;
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 900;
    color:black;
}
.lin:hover{
    text-decoration-line: underline;
    text-decoration-color: rgb(155,122,184);
    text-decoration-style:unset;
}
.b:hover{
    opacity:0.4;
}

.b{
    background-image:url(spa-sts.jpg);
    margin-left: 40px;
  cursor: pointer; 
    font-family: ROBOTO;
}
.conti{
    display:flex;
    flex-direction:row;
    column-gap: 25px;
    grid-row-gap: 20px;
}
.it{
    height: 350px;
    margin-top:40px;
    margin-left:10px;
    background-color: aliceblue;
    text-align: center;
}
.im{
    width:214px;
    height:170px;
}
.po{
    text-align: left;
    text-decoration: none;
}
.bu{
    background-color:black;
    color: white;
    cursor:pointer;
    
}
.bu:hover{
opacity:0.7;}
#foot{
    position:fixed;
    margin-top:38px;
    font-family:roboto;
    width:1250px;
    height:26px;
    text-align:center;
}
.backf{
    background-color:transparent;
    width:214px;
    height:270px;
    margin-top:10px;
    margin-left: 10px;
perspective: 1000px;
border-radius: 5px;
}
.inner{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition:transform 0.8s;
    transform-style: preserve-3d;
}
.backf:hover .inner {
    transform: rotateY(180deg);
  }
  #hair1{
    width:214px;
    height:270px;
    border-radius: 5px;}
.back,.front{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;}
    .front {
        background-color: transparent;
        color: black;
      }
      
      /* Style the back side */
      .back {
        border-radius: 5px;
        background-color: aliceblue;
        color: black;
        font-family:roboto;
        text-decoration: underline;
        transform: rotateY(180deg);
      }
.container3{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

}
  }
